.body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000;
    background-color: #f8f8f8;
}

* {
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column; /* Изменено на "column" */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .button-container .admin-button-link {
        margin: 10px 0; /* Изменено на "10px 0" */
        text-decoration: none;
    }

    .button-container .admin-button {
        padding: 30px 60px;
        border: 0;
        background-color: #ffcc99;
        cursor: pointer;
        font-family: inherit;
        font-size: 28px;
        color: #000;
        border-radius: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, color 0.3s ease;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px; /* Установите фиксированную ширину */
        height: 100px;
    }

        .button-container .admin-button:not(:last-child) {
            margin-bottom: 10px; /* Изменено на "10px" */
        }

        .button-container .admin-button:hover {
            background-color: #e38c3b;
            color: #fff;
        }
