body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #000;
    background-color: #f8f8f8;
}

* {
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container .button {
    margin: 0 10px;
    padding: 10% 15%; /* Измененные отступы в процентах */
    border: 0;
    background-color: #ffcc99;
    cursor: pointer;
    font-family: inherit;
    font-size: 48px;
    color: #000;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
}

.button-container .button:hover {
    background-color: #e38c3b;
    color: #fff;
}
    